@{
    ViewBag.Title = "Home Page";
}



<div class="wallpaper container-fluid m-0 ">
    <div class="pt-3">
        <div><h1 class="display-6 d-flex justify-content-center justify-content-md-start">A PHOTOGRAPH IS<br />THE PAUSE BUTTON OF LIFE.</h1></div>
        <hr />




        <div class="row justify-content-between mt-2 ">
            <div class="col my-3 ">
                <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="3000">
                            <img src="~/Content/img/template/2G7A6905-Edit.jpg" class="d-block w-100 border border-2 border-light" alt="photo Example" />
                        </div>
                        <div class="carousel-item" data-bs-interval="3000">
                            <img src="~/Content/img/template/2G7A6007.jpg" class="d-block w-100 border border-2 border-light" alt="photo Example" />
                        </div>
                        <div class="carousel-item" data-bs-interval="3000">
                            <img src="~/Content/img/template/2G7A6612.jpg" class="d-block w-100 border border-2 border-light" alt="photo Example" />
                        </div>
                        <div class="carousel-item" data-bs-interval="3000">
                            <img src="~/Content/img/template/2G7A7014.jpg" class="d-block w-100" alt="photo Example" />
                        </div>
                        <div class="carousel-item" data-bs-interval="3000">
                            <img src="~/Content/img/template/2G7A8008.jpg" class="d-block w-100 border border-2 border-light" alt="photo Example" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-2 d-flex flex-column align-items-center align-items-md-start">
                <h3>browse photo galleries</h3>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation .
                </p>
                <h3>choose your photographer</h3>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic  separation .
                </p>
                <h3>book a photoshoot in your  favorite spot!</h3>
                <p>
                    ASP.NET MVC gives you a powerful,
                </p>
                <p><a class="btn btn-default text-secondary" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>

                <button type="button" class="btn btn-warning my-0 fw-bolder border-0 px-4 rounded-start ">Let's Go!</button>
            </div>


        </div>
    </div>
</div>