@{
    ViewBag.Title = "Home Page";
}



<div class="homepage ">


    <div class="row d-flex flex-column align-items-center  align-items-md-start  my-2 p-0 me-auto ms-auto gap-4">

        <div class="card homeCards col-12 col-lg-4 p-0 shadow border-0 d-flex">
            <div class="card-body text-center">
                <h3 class="card-subtitle text-muted text-uppercase">1</h3>
                <h3 class="card-title m-3 text-uppercase">browse photo galleries</h3>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
            </div>
        </div>
        <div class="card homeCards col-12 col-lg-4 p-0 shadow border-0">
            <div class="card-body text-center">
                <h3 class="card-subtitle text-muted text-uppercase">2</h3>
                <h3 class="card-title m-3 text-uppercase">choose your favorite photographer</h3>
                <p class="card-text">Aenean commodo ligula eget dolor. Aenean massa. Cum sociis</p>
            </div>
        </div>
        <div class="card homeCards col-12 col-lg-4 p-0 shadow border-0">
            <div class="card-body text-center">
                <h3 class="card-subtitle text-muted text-uppercase">3</h3>
                <h3 class="card-title m-3 text-uppercase">book a photoshoot in your  favorite spot!</h3>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
            </div>
        </div>
        <div class=" col-12 col-lg-4 p-0 shadow border-0 btn btn-warning px-5 ">
            @Html.ActionLink("Start here!", "PortfolioGallary", "portfolios", null, new { @class = "link-dark fw-bolder  text-decoration-none " })
        </div>
    </div>
</div>



<div class="containerimg">
    <div class="box">
        <img src="~/Content/img/template/2G7A6905-Edit.jpg" />
    </div>
    <div class="box">
        <img src="~/Content/img/template/2G7A6007.jpg" />
    </div>
    <div class="box">
        <img src="~/Content/img/template/2G7A6612.jpg" />
    </div>
    <div class="box">
        <img src="~/Content/img/template/2G7A7014.jpg" />
    </div>
</div>





