@{
    ViewBag.Title = "Managment";
}

<h2>Managment</h2>


<div class="d-flex justify-content-evenly btn-group">
    <h3>@Html.ActionLink("Users", "Index", "Users", null, new { @class = "link-dark text-decoration-none" }) </h3>
    <h3>@Html.ActionLink("Spots", "Index", "Spots", null, new { @class = "link-dark text-decoration-none" }) </h3>
    <h3>@Html.ActionLink("Packages", "Index", "Packages", null, new { @class = "link-dark text-decoration-none" }) </h3>
    <h3>@Html.ActionLink("bookings", "Index", "Bookings", null, new { @class = "link-dark text-decoration-none" }) </h3>
   
</div>

