
@{
    ViewBag.Title = "BookDone";
}

<div class="container justify-content-center mt-5  w-75 me-auto ms-auto text-center">



    <h2 class="text-center">Thanks for your book </h2>
    <br />
    <br />
    <br />
    <h4>We have received your request and will respond to you within 24 hours.</h4>
    <br />
    <p class="text-start">
        Your  Request Form will be reviewed shortly and a response made to the email address or phone number given. Please check your email, and open the email from book@framesamoroma.com titled “Your photoshoot request”<br />

        If you do not see the email in a few minutes, check your “junk mail” folder or “spam” folder. We make every effort to ensure that these emails are delivered. If you do not see the email in your inbox, please check your junk mail folder and add “book@framesamoroma.com” to your White List or Safe Sender List. If you do not receive a confirmation email try submitting the form again.<br />

        If you still don’t receive an email, then write to info@framesamoroma.com . We will do our best to answer your request as soon as possible.
    </p>

</div>
