body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: oldlace;
    color: #242423;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}


.card-package:hover{
    transform:scale3d(1.1)
}

.img-hover:hover{
    zoom:1.2;
}

.bg-dark {
    background-color: #1E2328 !important;
}
.nav-link {
    color: #E8EDDF;
}
.nav-item:hover {
    color: #F5CB5C;
}

.portfolio-cover:hover{
    zoom:1.1;
}


.go2Gallary {
    -webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.34);
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.25);
}

.card {
    overflow: hidden;
}

.cardGallary {
    filter: brightness(0.6);
}
    .cardGallary:hover {
        filter: brightness(1.1);
        transition-timing-function: ease-in-out;
        transition-duration: 0.7s;
        object-fit: contain;
        transform: scale(1.15);
    }

    .profilePhotographer {
    filter: grayscale(100%);
    width:50px;
    height:50px;
    object-fit:cover
    }


.btn-outline-light:hover{

    background-color:#fed053;
    transition-timing-function:ease-in-out;
    transition-duration:0.4s;
}

.homeIMG{
    height:50vh;
    width:100%;
    object-fit:cover;
    position:center
}

.homeCards{

}

.btn-login{
    background-color:#3b3f46;
    color:white;
    padding-inline :50px;
    margin:5px;
}

.btn-login:hover {
    background-color:#F5CB5C;
    color:black;
    font-weight:700
}