body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #1E2328;
    background-image: url('img/template/webb-dark.jpg');
    color: oldlace;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}
.homepage {
    background-image: url('img/template/homepage.jpg');
    background-position:center;
    background-size:cover;
    width:100%;
    padding:25px;
    position:relative;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
    
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    min-Width:100px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}


.imgInGallary {
    border: 2px solid #E8EDDF;
        filter: brightness(0.9);
}
    .imgInGallary:hover {
        filter: brightness(1.15);
        transition-timing-function: ease-in-out;
        transition-duration: 0.6s;
    }

    .Allimgs div {
        overflow: hidden
    }

.bg-warning {
    background-color: #fed053 !important;
}

.text-warning {
    color: #fed053 !important;
}




.nav-link {
    color: #E8EDDF;
}

.nav-item:hover {
    color: #F5CB5C;
}


.go2Gallary {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.34);
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.25);
    border: solid red 5px
}
.btnToGallary{

}

.card {
    overflow: hidden;
    background-color: rgba(69, 67, 58, 0.7);
    border-block: 2px solid rgba(0,0,0,0.25);
    border-left: 6px solid #F5B301;
    -webkit-box-shadow: 0px 2px 9px -9px #F6F6F6;
    box-shadow: 0px 2px 12px -9px #F6F6F6;
}

    .card:hover {
        border: 1px solid #777;
        -webkit-box-shadow: 0px 8px 18px -9px #F6C93A;
        box-shadow: 0px 8px 18px -9px #F6C93A;
        transition-timing-function: ease-out;
        transition-duration: 0.4s;
        background-color: rgba(111, 103, 67, 0.78);
    }


.card-title {
    z-index: 1;
}

.cardGallary {
    filter: brightness(0.75);
    z-index: 0;
    top: 0px;
    left: 0px
}


    .cardGallary:hover {
        filter: brightness(1.1);
        transition-timing-function: ease-out;
        transition-duration: 0.2s;
        object-fit: contain;
        z-index: 2;
        left: 1px
    }

.profilePhotographer {
    filter: grayscale(100%);
    width: 60px;
    height: 60px;
    object-fit: cover
}
.portfolioPhotographer {
    border: solid 2px #fed053;
}


.btn-outline-light:hover {
    background-color: #fed053;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
}


.homeIMG {
    height: 50vh;
    width: 100%;
    object-fit: cover;
    position: center
}


.btn-login {
    background-color: #3b3f46;
    color: white;
    padding-inline: 50px;
    margin: 5px;
}

    .btn-login:hover {
        background-color: #F5CB5C;
        color: black;
        font-weight: 700
    }


.gallary {
    border-left: 6px solid #F5B301;
    border-left: 6px solid #F5B301;
}



.containerimg {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 70vh;
}

.box {
    flex: 1;
    overflow: hidden;
    transition: 0.3s;
    margin: 0 1%;
   
    line-height: 0;
}

    .box > img {
        width: 200%;
        height: calc(100% - 10vh);
        object-fit: cover;
        transition: 0.9s;
        transition-timing-function: ease-in-out;
        filter: grayscale(1)
    }

    .box:hover {
        flex: 1 1 50%;
        transition: 0.9s;
        transition-timing-function: ease-in-out;
    }

        .box:hover > img {
            width: 100%;
            height: 100%;
            filter: grayscale(0)
        }
 
